{{- if .Values.alloy.enabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "alloyAppName" . }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/part-of: {{ include "appName" . }}
      app.kubernetes.io/component: alloy
      app.kubernetes.io/name: {{ include "alloyPodLabel" . }}
  template:
    metadata:
      name: {{ include "alloyAppName" . }}
      labels:
        app.kubernetes.io/part-of: {{ include "appName" . }}
        app.kubernetes.io/component: alloy
        app.kubernetes.io/name: {{ include "alloyPodLabel" . }}
    spec:
      serviceAccountName: {{ include "alloyServiceAccountName" . }}

      {{- with .Values.imagePullSecret }}
      imagePullSecrets:
        - name: {{ . }}
      {{- end }}

      volumes:
        - name: config
          configMap:
            name: {{ include "alloyConfigMapName" . }}
        - name: varlog
          hostPath:
            path: /var/log
        - name: dockercontainers
          hostPath:
            path: /var/lib/docker/containers

      containers:
        - name: alloy
          image: {{ .Values.alloy.image | quote }}
          args:
            - run
            - /etc/alloy/config.alloy
            - --storage.path=/tmp/alloy
            - --server.http.listen-addr=0.0.0.0:12345
          ports:
            - name: http
              containerPort: 12345
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /etc/alloy
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: dockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
          env:
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /-/ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
{{- end -}}
