image: ghcr.io/firemetrics/spilo17:4.0-p2-5128c164
imagePullSecret: ""
podServiceAccountNameOverride: ""
numberOfInstances: 1
clusterNameOverride: ""
teamId: ""
spiloRunAsUser: 101
spiloRunAsGroup: 103
spiloFSGroup: 103

volume:
  size: 10Gi

resources:
  requests:
    cpu: "10m"
    memory: "100Mi"
  limits:
    cpu: "32"
    memory: "128Gi"

postgresql:
  version: "16"
  parameters:
    shared_buffers: 2GB
    max_locks_per_transaction: "512"
    work_mem: "256MB"

    # Do not omit some default extensions, otherwise bootstrap will fail
    # https://github.com/zalando/spilo/issues/1043
    shared_preload_libraries: "bg_mon,pg_stat_statements,pgextwlist,pg_auth_mon,set_user,timescaledb,pg_cron,pg_stat_kcache,fhirql"

    # The name of the database the Firemetrics queue-workers and other internal processes will run against. No reference lookup, compartment handling, ... will happen if unset.
    # fmx.database_name: "firemetrics"

    # The count of workers to spawn to work in the background. Set to `0` to disable background processing.
    fmx.worker_count: "4"

    # The serviceBaseUrl for this FHIR respository (usually the same as fuego's server.public_url)
    # fmx.base_url: "http://example.com/fhir"

backup:
  # -- Enable WAL archiving for the Postgres cluster.
  enabled: false
  # -- The name of the S3 bucket used for WAL archiving.
  bucketName: "backup"
  # -- The S3 bucket region used for WAL archiving.
  region: "auto"
  # -- The S3 bucket endpoint used for WAL archiving.
  endpoint: "http://minio"
  userSecret:
    # -- The secret containing the S3 user credentials for WAL archiving.
    name: backup-bucket-user
    # -- The key in the secret containing the S3 access key.
    accessKeyKey: accessKey
    # -- The key in the secret containing the S3 secret key.
    secretKeyKey: secretKey

env: []
