apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "datasourcesConfigMapName" . }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Firemetrics
        type: postgres
        editable: false
        url: ${{ include "dbHostEnvVar" . }}:${{ include "dbPortEnvVar" . }}
        database: ${{ include "dbNameEnvVar" . }}
        user: ${{ include "dbUsernameEnvVar" . }}
        secureJsonData:
          password: ${{ include "dbPasswordEnvVar" . }}
      {{- if .Values.loki.enabled }}
      - name: Loki
        type: loki
        access: proxy
        url: {{ .Values.loki.url | quote }}
        editable: true
      {{- end }}

